
  h1 {
  	color: $black;
  	font-family: $font-family ;
    font-size: 2em;
  	font-style: normal;
  	font-variant: normal;
  }
  h2 {
    color: $black;
  	font-family: $font-family ;
    font-size: 1.8em;
  	font-style: normal;
  	font-variant: normal;
  }
  h3 {
    color: $black;
    font-family: $font-family ;
    font-size: 1.6em;
    font-style: normal;
    font-variant: normal;
  }

//Lobster Font

  h4 {
    color: $black;
	  font-family: $font-heading;
	  font-size: 1.8empt;
	  font-style: normal;
	  font-variant: normal;

  }
