
  .menu ul {
    font-family: $font-family;
    font-size: 15pt;
    font-style: normal;
    font-variant: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: $color_blue;
  }

  .menu li a {
  	display: block;
  	color: $black;
  	padding: 8px 16px;
  	text-decoration: none;
    }
  .menu .active {
  	background-color: $color_gray;
  	color: $black;
    font-weight: bold;
    text-align: right;
  	}

  .menu a:hover {
  	background-color: $white;
  	color: $black;
  	}

  .menu:hover:not(.active) {
  	background-color: $white;
		color: $black;
  	}



  .claim {
  	color: $white;
  	background-color: $color_dark_gray;
  	text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }
